{% extends "Posts/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <section class="login" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('{% static 'Posts/images/bg.jpg' %}')">
        <div class="log-frm">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Login</h3>     
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="frm">   
                            <form method="POST">
                                {% csrf_token %}

                                 {% if form.errors %}
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ field.label }}</strong><span>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in form.non_field_errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                <div class="form-group">
                                    <i class="fa fa-user"></i>
                                    {% render_field form.username type="text" class="form-control input" placeholder="Username" autocomplete="off" %}
                                </div>
                                <div class="form-group">
                                    <i class="fa fa-lock"></i>
                                    {% render_field form.password type="password" class="form-control input" placeholder="Password" autocomplete="off" %}
                                </div>
                                <button type="submit" class="bt">Get Started</button>
                            </form>
                        </div>

                        <div class="rf-link">
                            <span><a href="{% url 'register' %}">Create Account</a></span>
                            <span><a href="">Forgot Password??</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}