{% extends 'Posts/base.html' %}
{% load static %}

{% block content %}
    <section class="categories">
        <div class="content-container">
            <!-- Lifestyle -->
            <div class="row">
                <div class="col-md-12 header">
                    <h5>Lifestyle</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="row row-cols-1 row-cols-md-4">
                        <div class="col mb-4">
                            <div class="card h-70">
                                <img src="{% static 'Posts/images/dog.jpg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Lifestyle</h5>
                                    <a href="" class="card-text">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a>
                                    <span class="author">John Doe</span> &nbsp;
                                    <span class="date">20 April 2021</span>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-4">
                            <div class="card h-70">
                                <img src="{% static 'Posts/images/dog.jpg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Lifestyle</h5>
                                    <a href="" class="card-text">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a>
                                    <span class="author">John Doe</span> &nbsp;
                                    <span class="date">20 April 2021</span>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-4">
                            <div class="card h-70">
                                <img src="{% static 'Posts/images/dog.jpg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Lifestyle</h5>
                                    <a href="" class="card-text">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a>
                                    <span class="author">John Doe</span> &nbsp;
                                    <span class="date">20 April 2021</span>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-4">
                            <div class="card h-70">
                                <img src="{% static 'Posts/images/dog.jpg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Lifestyle</h5>
                                    <a href="" class="card-text">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a>
                                    <span class="author">John Doe</span> &nbsp;
                                    <span class="date">20 April 2021</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    
                </div>
            </div>
        </div>
    </section>
{% endblock %}