{% extends 'Posts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block content %}
    <section class="details">
        <div class="row mr">
            <div class="col-md-12 center-image" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{ det.image.url }}')">
                <div class="info">
                    <span class="category">{{ det.category }}</span>
                    <span class="title">{{ det.title }}</span>
                    <span class="author">{{ det.author }}</span> &nbsp;
                    <span class="date">{{ det.date_created|date:"d F Y" }}</span>
                </div>
            </div>
        </div>

        <div class="description">
            <div class="detail_container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="info glass">
                            <p>{{ det.description|safe }}</p>
                        </div>

                        <div class="comment glass">
                            <h5>Leave a reply</h5>
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="">First Name</label>
                                        {% render_field reply.firstName type="text" class="form-control" placeholder="Jane" %}
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="">Last Name</label>
                                        {% render_field reply.lastName type="text" class="form-control" placeholder="Doe" %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Message</label>
                                    {% render_field reply.message class="form-control" rows="7" placeholder="Enter Message Here.........." %}
                                </div>
                                <button type="submit" class="btn btn-block btn-success">Send</button>
                            </form>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="newsletter">
                            <div class="header">
                                <h5>Newsletter</h5>
                            </div>

                            <div class="frm">
                                <form method="POST">
                                    {% csrf_token %}
                                    {% render_field form.email type="email" class="email" placeholder="Enter Your Email" %}
                                    <button class="bt" type="submit">Subscribe</button>
                                </form>
                            </div>
                        </div>

                        <div class="social">
                            <div class="header">
                                <h5>Social Media</h5>
                            </div>
                            <div class="row">
                                <div class="col-md-4 facebook glass">
                                    <i class="fa fa-facebook-f"></i><br>
                                    <span class="followers">21.2K<span><br>
                                    <span>Followers</span>
                                </div>

                                <div class="col-md-4 twitter glass">
                                    <i class="fa fa-twitter"></i><br>
                                    <span class="followers">10K<span><br>
                                    <span>Followers</span>
                                </div>

                                <div class="col-md-4 instagram glass">
                                    <i class="fa fa-instagram"></i><br>
                                    <span class="followers">5K<span><br>
                                    <span>Followers</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}